@charset "UTF-8";

*
{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root
{
    --cor1: rgb(55, 34, 93);
    --cor2: rgb(255, 129, 12);
    --cor3: rgb(37, 23, 63);
    --cor4: rgb(255, 108, 10);
    --cor5: rgb(99, 46, 197);
    --cor6: rgb(255, 171, 19);

    --font-home: 'Nunito', sans-serif;
}

body
{
    background-color: var(--cor1);
    background-image: url(imagens/logo\ açai.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: white;
}

h1, h2, h3
{
    text-align: center;
    font-family: var(--font-home);
}

h2
{
    text-decoration: underline;
}

header
{
    margin: 20px;
}

header h1
{
    text-decoration: underline;
}

main
{
    display: inline-block;
}

main div 
{
    background-color: rgba(99, 46, 197, 0.596);
    height: 50px;
    width: 50px;
}

main section
{
    background-color: rgba(99, 46, 197, 0.596);
    margin: 5px;
    padding: 10px;
    width: 370px;
    height: 250px;
    border: 3px solid white;
}

.produtos
{
    display: inline-block;
}


main section p
{
    margin: 10px;
}


dl#inclusosTradicional
{
    padding: 10px;
    line-height: 1.3em;
    columns: 3;
}

dl#inclusosTurbinado
{
    padding: 10px;
    line-height: 1.3em;
    columns: 3;
}

/* PONTILHADO PREÇOS | inicio: */
li
{
    position: relative;
}

li::before
{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 70%;
    width: 100%;
    border-bottom: 1px dashed black;
}

li span
{
    background-color:;
}

li span+span
{
    float: right;
}
/* PONTILHADO PREÇOS | fim. */

section#incrementos
{
   background-color: rgba(99, 46, 197, 0.596);
   width: 1300px;
   height: 180px;
   padding: 10px;
   margin: auto;
   border: 3px solid white;
}


section#incrementos ul
{
   columns: 2;
   line-height: 1.5em;
   list-style-position: inside;
}

footer
{
    font-family: var(--font-home);
    font-size: 28px;
    text-align: center;
}

footer p
{
    margin: 5px;
}

